In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set(font_scale=1.25)
np.random.seed(5)

pd.set_option("display.max_rows",100)
pd.set_option("display.max_columns",100)

In [2]:
df = pd.read_csv("pluto_20v1.csv", low_memory=False)

In [3]:
df.head()

,borough,block,lot,cd,ct2010,cb2010,schooldist,council,zipcode,firecomp,policeprct,healtharea,sanitboro,sanitsub,address,zonedist1,zonedist2,zonedist3,zonedist4,overlay1,overlay2,spdist1,spdist2,spdist3,ltdheight,splitzone,bldgclass,landuse,easements,ownertype,ownername,lotarea,bldgarea,comarea,resarea,officearea,retailarea,garagearea,strgearea,factryarea,otherarea,areasource,numbldgs,numfloors,unitsres,unitstotal,lotfront,lotdepth,bldgfront,bldgdepth,ext,proxcode,irrlotcode,lottype,bsmtcode,assessland,assesstot,exempttot,yearbuilt,yearalter1,yearalter2,histdist,landmark,builtfar,residfar,commfar,facilfar,borocode,bbl,condono,tract2010,xcoord,ycoord,latitude,longitude,zonemap,zmcode,sanborn,taxmap,edesignum,appbbl,appdate,plutomapid,version,sanitdistrict,healthcenterdistrict,firm07_flag,pfirm15_flag,rpaddate,dcasdate,zoningdate,landmkdate,basempdate,masdate,polidate,edesigdate,geom,dcpedited,notes
0,BK,834,46,307.0,106.0,2001.0,20.0,38.0,11220.0,L114,72.0,6700.0,3.0,4E,5524 8 AVENUE,R6,NaN,NaN,NaN,C2-4,NaN,NaN,NaN,NaN,NaN,N,S9,4.0,0.0,NaN,"RUTUELO FAMILY TRUST, DATED AUGUST 14, 2 014",1613.0,3648.0,1050.0,2598.0,0.0,1050.0,0.0,0.0,0.0,0.0,2.0,1.0,3.00,2.0,4.0,20.17,80.0,20.17,52.0,E,0.0,N,3.0,5.0,146250.0,350550.0,0.0,1931.0,0.0,0.0,NaN,NaN,2.26,2.43,0.0,4.8,3.0,3.008340e+09,NaN,106.0,982211.0,171707.0,40.637972,-74.007347,22a,NaN,306A034,30307.0,NaN,NaN,NaN,1.0,20v1,7.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0106000020E61000000100000001030000000100000005...,NaN,NaN
1,QN,4042,106,407.0,929.0,3000.0,25.0,19.0,11356.0,E297,109.0,210.0,4.0,5D,13-10 COLLEGE POINT BLVD,R2A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,A1,1.0,0.0,NaN,"MOY, WAYNE",5000.0,3276.0,0.0,3276.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.75,1.0,1.0,50.00,100.0,26.00,35.0,EG,1.0,N,5.0,2.0,12240.0,78900.0,1400.0,1910.0,0.0,0.0,NaN,NaN,0.66,0.50,0.0,1.0,4.0,4.040420e+09,NaN,929.0,1026895.0,225880.0,40.786562,-73.846003,7b,NaN,405 034,42103.0,NaN,NaN,NaN,1.0,20v1,7.0,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0106000020E61000000100000001030000000100000007...,NaN,NaN
2,BK,4679,17,317.0,866.0,3002.0,18.0,41.0,11203.0,L174,67.0,5510.0,3.0,3C,230 EAST 54 STREET,R5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,B1,1.0,0.0,NaN,DONNA SMITH JORDON,3000.0,2814.0,0.0,2814.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.00,2.0,2.0,30.00,100.0,20.50,67.0,G,1.0,N,5.0,2.0,18120.0,34380.0,1400.0,1920.0,0.0,0.0,NaN,NaN,0.94,1.25,0.0,2.0,3.0,3.046790e+09,NaN,866.0,1004527.0,177269.0,40.653216,-73.926923,17b,NaN,310 060,31502.0,NaN,NaN,NaN,1.0,20v1,17.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0106000020E61000000100000001030000000100000006...,NaN,NaN
3,BK,7831,6,318.0,676.0,1002.0,22.0,46.0,11234.0,L159,63.0,8822.0,3.0,5D,5109 AVENUE L,R4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,A9,1.0,0.0,NaN,"VERNET, MARIE Y",1800.0,973.0,0.0,973.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.00,1.0,1.0,20.00,90.0,14.00,27.0,G,2.0,N,5.0,2.0,7680.0,24600.0,0.0,1920.0,0.0,0.0,NaN,NaN,0.54,0.75,0.0,2.0,3.0,3.078310e+09,NaN,676.0,1004804.0,166580.0,40.623876,-73.925958,23b,NaN,315 041,32308.0,NaN,NaN,NaN,1.0,20v1,18.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0106000020E61000000100000001030000000100000005...,NaN,NaN
4,BK,7831,7,318.0,676.0,1002.0,22.0,46.0,11234.0,L159,63.0,8822.0,3.0,5D,5107 AVENUE L,R4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,A9,1.0,0.0,NaN,"DUMAY, DERRICK",1800.0,938.0,0.0,938.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.00,1.0,1.0,20.00,90.0,14.00,27.0,G,2.0,N,5.0,2.0,8160.0,29760.0,0.0,1920.0,0.0,0.0,NaN,NaN,0.52,0.75,0.0,2.0,3.0,3.078310e+09,NaN,676.0,1004784.0,166579.0,40.623874,-73.926030,23b,NaN,315 041,32308.0,NaN,NaN,NaN,1.0,20v1,18.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0106000020E61000000100000001030000000100000005...,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 814314 entries, 0 to 814313
Data columns (total 99 columns):
borough                 814314 non-null object
block                   814314 non-null int64
lot                     814314 non-null int64
cd                      813421 non-null float64
ct2010                  813421 non-null float64
cb2010                  813421 non-null float64
schooldist              812739 non-null float64
council                 813421 non-null float64
zipcode                 812705 non-null float64
firecomp                812724 non-null object
policeprct              812732 non-null float64
healtharea              812733 non-null float64
sanitboro               812537 non-null float64
sanitsub                812422 non-null object
address                 814046 non-null object
zonedist1               812513 non-null object
zonedist2               18827 non-null object
zonedist3               196 non-null object
zonedist4               10 non-null object
overlay1                70988 non-null object
overlay2                159 non-null object
spdist1                 96697 non-null object
spdist2                 74 non-null object
spdist3                 0 non-null float64
ltdheight               2958 non-null object
splitzone               812513 non-null object
bldgclass               814046 non-null object
landuse                 811608 non-null float64
easements               814046 non-null float64
ownertype               29969 non-null object
ownername               813634 non-null object
lotarea                 813655 non-null float64
bldgarea                814019 non-null float64
comarea                 769068 non-null float64
resarea                 769068 non-null float64
officearea              769068 non-null float64
retailarea              769068 non-null float64
garagearea              769068 non-null float64
strgearea               769068 non-null float64
factryarea              769068 non-null float64
otherarea               769068 non-null float64
areasource              814046 non-null float64
numbldgs                813655 non-null float64
numfloors               813655 non-null float64
unitsres                814046 non-null float64
unitstotal              814046 non-null float64
lotfront                813655 non-null float64
lotdepth                813655 non-null float64
bldgfront               813655 non-null float64
bldgdepth               813655 non-null float64
ext                     759740 non-null object
proxcode                814046 non-null float64
irrlotcode              814046 non-null object
lottype                 814046 non-null float64
bsmtcode                814046 non-null float64
assessland              814046 non-null float64
assesstot               814046 non-null float64
exempttot               814046 non-null float64
yearbuilt               814046 non-null float64
yearalter1              814046 non-null float64
yearalter2              814046 non-null float64
histdist                29663 non-null object
landmark                1394 non-null object
builtfar                813348 non-null float64
residfar                814046 non-null float64
commfar                 814046 non-null float64
facilfar                814046 non-null float64
borocode                814313 non-null float64
bbl                     814313 non-null float64
condono                 8081 non-null float64
tract2010               813420 non-null float64
xcoord                  813343 non-null float64
ycoord                  813343 non-null float64
latitude                813343 non-null float64
longitude               813343 non-null float64
zonemap                 812566 non-null object
zmcode                  14690 non-null object
sanborn                 812874 non-null object
taxmap                  812874 non-null float64
edesignum               0 non-null float64
appbbl                  87761 non-null float64
appdate                 87761 non-null object
plutomapid              814313 non-null float64
version                 814313 non-null object
sanitdistrict           812537 non-null float64
healthcenterdistrict    812732 non-null float64
firm07_flag             32609 non-null float64
pfirm15_flag            62030 non-null float64
rpaddate                0 non-null float64
dcasdate                0 non-null float64
zoningdate              0 non-null float64
landmkdate              0 non-null float64
basempdate              0 non-null float64
masdate                 0 non-null float64
polidate                0 non-null float64
edesigdate              0 non-null float64
geom                    812833 non-null object
dcpedited               37938 non-null object
notes                   545 non-null float64
dtypes: float64(69), int64(2), object(28)
memory usage: 615.1+ MB

In [5]:
df.shape

(814314, 99)

### Select relevant features

The recommended fields are Address, BldgArea, BldgDepth, BuiltFAR, CommFAR, FacilFAR, Lot, LotArea, LotDepth, NumBldgs, NumFloors, OfficeArea, ResArea, ResidFAR, RetailArea, YearBuilt, YearAlter1, ZipCode, YCoord, and XCoord.

1. BOROUGH (Borough) = The borough in which the tax lot is located.
2. TAX LOT (Lot) = The number of the tax lot.
3. ZIP CODE (ZipCode) = A ZIP code that is valid for one of the addresses assigned to the tax lot.
4. ADDRESS (Address) = An address for the tax lot.
5. LOT AREA (LotArea) = Total area of the tax lot, expressed in square feet rounded to the nearest integer.
6. TOTAL BUILDING FLOOR AREA (BldgArea) = The total gross area in square feet, except for condominium measurements
7. COMMERCIAL FLOOR AREA (ComArea) = An estimate of the exterior dimensions of the portion of the structure(s) allocated for commercial use.
8. RESIDENTIAL FLOOR AREA (ResArea) = An estimate of the exterior dimensions of the portion of the structure(s) allocated for residential use.
9. OFFICE FLOOR AREA (OfficeArea) = An estimate of the exterior dimensions of the portion of the structure(s) allocated for office use.
10. RETAIL FLOOR AREA (RetailArea) = An estimate of the exterior dimensions of the portion of the structure(s) allocated for retail use.
11. NUMBER OF BUILDINGS (NumBldgs) = The number of buildings on the tax lot.
12. NUMBER OF FLOORS (NumFloors) = The number of full and partial stories starting from the ground floor, for the tallest building on the tax lot.
13. LOT DEPTH (LotDepth) = The tax lot's depth measured in feet.
14. BUILDING DEPTH (BldgDepth) = The building’s depth, which is the effective perpendicular distance, measured in feet.
15. YEAR BUILT (YearBuilt) = The year construction of the building was completed.
16. YEAR ALTERED 1 (YearAlter1) = If a building has only been altered once, YEAR ALTERED 1 is the date that alteration began.
17. BUILT FLOOR AREA RATIO (BuiltFAR) = The BUILT FLOOR AREA RATIO is the total building floor area divided by the area of the tax lot.
18. MAXIMUM ALLOWABLE RESIDENTIAL FAR (ResidFAR) = The maximum allowable residential floor area ratio, based on the zoning district classification occupying the greatest percentage of the tax lot’s area
19. MAXIMUM ALLOWABLE COMMERCIAL FAR (CommFAR) = The maximum allowable commercial floor area ratio, based on the zoning district classification occupying the greatest percentage of the tax lot’s area
20. MAXIMUM ALLOWABLE COMMUNITY FACILITY FAR (FacilFAR) = The maximum allowable community facility floor area ratio, based on the zoning district classification occupying the greatest percentage of the tax lot’s area
21. LATITUDE (Latitude) = The WGS 84 latitude of the latitude/longitude coordinate pair for the approximate location of the tax lot.
22. LONGITUDE (Longitude) = The WGS 84 longitude of the latitude/longitude coordinate pair for the approximate location of the tax lot

In [6]:
df2 = df[['borough','lot','zipcode','address','lotarea','bldgarea','comarea','resarea','officearea','retailarea',
          'numbldgs','numfloors','lotdepth','bldgdepth','yearbuilt','yearalter1','builtfar',
          'residfar','commfar','facilfar','latitude','longitude']]

In [7]:
df2.head()

,borough,lot,zipcode,address,lotarea,bldgarea,comarea,resarea,officearea,retailarea,numbldgs,numfloors,lotdepth,bldgdepth,yearbuilt,yearalter1,builtfar,residfar,commfar,facilfar,latitude,longitude
0,BK,46,11220.0,5524 8 AVENUE,1613.0,3648.0,1050.0,2598.0,0.0,1050.0,1.0,3.00,80.0,52.0,1931.0,0.0,2.26,2.43,0.0,4.8,40.637972,-74.007347
1,QN,106,11356.0,13-10 COLLEGE POINT BLVD,5000.0,3276.0,0.0,3276.0,0.0,0.0,2.0,2.75,100.0,35.0,1910.0,0.0,0.66,0.50,0.0,1.0,40.786562,-73.846003
2,BK,17,11203.0,230 EAST 54 STREET,3000.0,2814.0,0.0,2814.0,0.0,0.0,2.0,2.00,100.0,67.0,1920.0,0.0,0.94,1.25,0.0,2.0,40.653216,-73.926923
3,BK,6,11234.0,5109 AVENUE L,1800.0,973.0,0.0,973.0,0.0,0.0,1.0,2.00,90.0,27.0,1920.0,0.0,0.54,0.75,0.0,2.0,40.623876,-73.925958
4,BK,7,11234.0,5107 AVENUE L,1800.0,938.0,0.0,938.0,0.0,0.0,1.0,2.00,90.0,27.0,1920.0,0.0,0.52,0.75,0.0,2.0,40.623874,-73.926030

In [8]:
df2.shape

(814314, 22)

### Choose only Bronx (BX) borough for new dataframe

In [10]:
df3 = df2[df2['borough'] == 'BX']

In [11]:
df3

,borough,lot,zipcode,address,lotarea,bldgarea,comarea,resarea,officearea,retailarea,numbldgs,numfloors,lotdepth,bldgdepth,yearbuilt,yearalter1,builtfar,residfar,commfar,facilfar,latitude,longitude
11,BX,47,10469.0,3310 BRONXWOOD AVENUE,2500.0,2288.0,0.0,2288.0,0.0,0.0,1.0,2.0,100.00,52.0,1960.0,0.0,0.92,1.25,0.0,2.0,40.873572,-73.860952
13,BX,72,10466.0,4031 ELY AVENUE,1629.0,1584.0,0.0,1152.0,0.0,0.0,1.0,2.0,90.50,32.0,1950.0,0.0,0.97,0.75,0.0,2.0,40.890608,-73.845925
18,BX,183,10466.0,964 EAST 229 STREET,1970.0,1485.0,0.0,1080.0,0.0,0.0,1.0,2.0,109.42,32.0,1955.0,0.0,0.75,0.75,0.0,2.0,40.887873,-73.851034
33,BX,33,10469.0,1006 EAST GUN HILL ROAD,2500.0,3933.0,1337.0,2596.0,0.0,1337.0,1.0,3.0,100.00,60.0,1938.0,0.0,1.57,3.00,0.0,3.0,40.874358,-73.857873
44,BX,14,10466.0,3879 AMUNDSON AVENUE,1800.0,1701.0,0.0,1188.0,0.0,0.0,1.0,2.0,100.00,33.0,1957.0,0.0,0.95,0.75,0.0,2.0,40.888725,-73.835676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814277,BX,58,10462.0,2161 BARNES AVENUE,20008.0,74772.0,0.0,74772.0,0.0,0.0,1.0,6.0,100.00,76.0,1931.0,0.0,3.74,3.44,0.0,4.8,40.855241,-73.864135
814280,BX,20,10472.0,1272 NOBLE AVENUE,2500.0,3321.0,0.0,3321.0,0.0,0.0,1.0,2.0,100.00,81.0,1926.0,0.0,1.33,1.25,0.0,2.0,40.832030,-73.869990
814288,BX,45,10460.0,1726 ADAMS STREET,4913.0,1932.0,1932.0,0.0,0.0,0.0,1.0,2.0,98.25,45.0,1942.0,0.0,0.39,1.25,0.0,2.0,40.841328,-73.871066
814291,BX,17,10461.0,2020 TENBROECK AVENUE,6641.0,1621.0,0.0,1621.0,0.0,0.0,1.0,2.0,121.67,26.0,1940.0,0.0,0.24,0.50,0.0,1.0,40.855852,-73.852111
814303,BX,12,10453.0,2157 WALTON AVENUE,1425.0,1406.0,0.0,1406.0,0.0,0.0,1.0,2.0,75.00,37.0,1901.0,0.0,0.99,6.02,0.0,6.5,40.855693,-73.904729

In [12]:
#Save to csv
#df3.to_csv('bronx.csv',index=False)

### Load the heat/hot water cases and narrow down to Bronx only

In [13]:
df4 = pd.read_csv("nycheat.csv")

In [14]:
df4.head()

,unique_key,created_date,closed_date,complaint_type,location_type,incident_zip,incident_address,street_name,address_type,city,status,resolution_description,borough,latitude,longitude
0,45539970,2020-02-03T11:34:00.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11694.0,180 BEACH 117 STREET,BEACH 117 STREET,ADDRESS,Rockaway Park,Open,The following complaint conditions are still o...,QUEENS,40.578958,-73.837773
1,45538988,2020-02-03T05:53:31.000,2020-02-03T16:54:52.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10461.0,1185 NEILL AVENUE,NEILL AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.855078,-73.852492
2,45540022,2020-02-03T18:01:48.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10468.0,2523 UNIVERSITY AVENUE,UNIVERSITY AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.866135,-73.902726
3,45539200,2020-02-03T08:59:51.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,11416.0,75-13 101 AVENUE,101 AVENUE,ADDRESS,Ozone Park,Open,The following complaint conditions are still o...,QUEENS,40.679780,-73.861803
4,45539035,2020-02-03T06:54:49.000,2020-02-03T17:06:54.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10463.0,3150 BAILEY AVENUE,BAILEY AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.878790,-73.901771

In [15]:
df5 = df4[df4['borough'] == 'BRONX']

In [16]:
df5.head()

,unique_key,created_date,closed_date,complaint_type,location_type,incident_zip,incident_address,street_name,address_type,city,status,resolution_description,borough,latitude,longitude
1,45538988,2020-02-03T05:53:31.000,2020-02-03T16:54:52.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10461.0,1185 NEILL AVENUE,NEILL AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.855078,-73.852492
2,45540022,2020-02-03T18:01:48.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10468.0,2523 UNIVERSITY AVENUE,UNIVERSITY AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.866135,-73.902726
4,45539035,2020-02-03T06:54:49.000,2020-02-03T17:06:54.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10463.0,3150 BAILEY AVENUE,BAILEY AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.878790,-73.901771
5,45539982,2020-02-03T12:31:16.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10455.0,520 TINTON AVENUE,TINTON AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.812037,-73.906544
9,45539989,2020-02-03T17:25:12.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10460.0,2112 MAPES AVENUE,MAPES AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.846939,-73.885253

In [17]:
df5.shape

(17330, 15)

In [18]:
#Rename incident_zip
df5 = df5.rename(columns={'incident_zip':'zipcode'})

In [19]:
df5

,unique_key,created_date,closed_date,complaint_type,location_type,zipcode,incident_address,street_name,address_type,city,status,resolution_description,borough,latitude,longitude
1,45538988,2020-02-03T05:53:31.000,2020-02-03T16:54:52.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10461.0,1185 NEILL AVENUE,NEILL AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.855078,-73.852492
2,45540022,2020-02-03T18:01:48.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10468.0,2523 UNIVERSITY AVENUE,UNIVERSITY AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.866135,-73.902726
4,45539035,2020-02-03T06:54:49.000,2020-02-03T17:06:54.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10463.0,3150 BAILEY AVENUE,BAILEY AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.878790,-73.901771
5,45539982,2020-02-03T12:31:16.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10455.0,520 TINTON AVENUE,TINTON AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.812037,-73.906544
9,45539989,2020-02-03T17:25:12.000,NaN,HEAT/HOT WATER,RESIDENTIAL BUILDING,10460.0,2112 MAPES AVENUE,MAPES AVENUE,ADDRESS,BRONX,Open,The following complaint conditions are still o...,BRONX,40.846939,-73.885253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49530,45138841,2019-12-11T11:14:16.000,2019-12-13T10:36:44.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10458.0,550 EAST 187 STREET,EAST 187 STREET,ADDRESS,BRONX,Closed,The complaint you filed is a duplicate of a co...,BRONX,40.856385,-73.889152
49533,45138803,2019-12-11T15:07:14.000,2019-12-13T16:53:55.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10459.0,830 REV JAMES POLITE AVENUE,REV JAMES POLITE AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.818750,-73.898886
49535,45138068,2019-12-11T12:31:58.000,2019-12-13T10:36:44.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10460.0,989 EAST 179 STREET,EAST 179 STREET,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.842428,-73.880584
49536,45138035,2019-12-11T11:25:45.000,2019-12-13T17:14:22.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10462.0,1470 PARKCHESTER ROAD,PARKCHESTER ROAD,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.836695,-73.859511
49539,45138015,2019-12-11T11:16:32.000,2019-12-13T17:00:10.000,HEAT/HOT WATER,RESIDENTIAL BUILDING,10463.0,3555 OXFORD AVENUE,OXFORD AVENUE,ADDRESS,BRONX,Closed,The Department of Housing Preservation and Dev...,BRONX,40.886026,-73.908863

In [20]:
#Save to csv
#df5.to_csv("nycheatbronx.csv",index=False)